body {
    background: #e0ece4;
    color: #575F7D;
    font-family: 'Roboto', Mono;
    font-size: 17px;
    font-weight: lighter;
}

h1 {
  font-size: 24px;
}

img {
  border-radius: 50%;
  display: block;
}

h2, h3, h4, h5 {
  font-size: 18px;
}


p {
  font-size: 13px;
}

